* {
  margin: 0;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
}
#grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 80vh;
  background-color: black;
}

.row {
  display: flex;
  flex: 1;
  background-color: black;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: space-between;
  aspect-ratio: 1/1;
  margin: 1%;
  border: 0.2vw solid white;
}

.square {
  flex: 1 0 auto;
  background-color: aqua;
  opacity: 0;
}
